__pycache__/

*.pyc

.env

.venv/

.DS_Store


# Datos generados por consultas individuales
data/*.csv


# Mantener snapshot usado por scraper
!data/pagina_tabla.html


# Resultados resumidos de experimentos
!data/resumen_*.json

# Resultados experimentos cache
!data/evicted_*.txt
!data/dbsize_*.txt
!data/memory_*.txt


# Mantener gráficos generados para informe
!graficos/*.png